.section5 {
    position: relative;
}

.section5 img {
    width:10.7rem;
    height: 11.07rem;
}

.section5 .content {
    position: absolute;
    right:4.46rem;
    top:1.99rem;
    width: 7.98rem;
}


.section5 .content .title {
    font-family: AcuminConcept-Semibold;
    font-size: .96rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.2rem;
    letter-spacing: -.02rem;
    text-align: right;
    width: 100%;
    font-weight: bold;
}

.section5 .content  .description {

	font-family: AcuminConcept-WideLight;
    font-size: .28rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .35rem;
    letter-spacing: 0px;
    color: #515151;
    text-align: right;
    margin-top:.88rem;
}

.section7 {
    height:13.31rem;
}

.section7 .content {
    width: 6.88rem;
	height: 1.89rem;
	font-family: AcuminConcept-Semibold;
	font-size: .96rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: .17rem;
	color: #9f9f9f;
}